.App {
    padding-top: 1rem;
    margin: 2rem auto;
}

.App-header {
    text-align: center;
    background-color: grey;
    padding: 15px;
    color: white;
    border-radius: 0.3rem;
}

.App-title {
    font-size: 1.5em;
}

#post{
  border-radius: 0.3rem;
}

.media{
  
}

